#masterDiv {
    background-color:black;
    width: 100%;
    border-radius: 5px;
}

#dashboardDiv {
    background-color:grey;
    float: left;
    height: 100%;
    width: 30%;
    border-radius: 5px;
}

#reportMainDiv {
    background-color:skyblue;
    float: right;
    height: 100%;
    width: 70%;
    overflow-y: auto;
    border-radius: 5px;
}

.reportDiv {

    border-radius: 10px;
    border:skyblue;
    margin: 10px;
    min-height: 100px;
    overflow-y: auto;
    overflow-x: auto;

}